# .NET Build & Cache
bin/
obj/
*.dll
*.exe
*.pdb
*.log
*.cache
*.lock
*.db
*.suo
*.user
*.csproj.user

# User-Specific Files
.vscode/
*.suo
*.user
*.vs
*.swp
*.sln.iml
launchSettings.json

# Database & Secrets
appsettings.Development.json
appsettings.Local.json
.env
secrets.json
Migrations/

# Angular Node.js
node_modules/
dist/
npm-debug.log
package-lock.json
yarn.lock
coverage/
.DS_Store

# Test & Coverage
coverage/
TestResults/
