<app-add-contact #addContactDialog></app-add-contact>
<app-update-contact #updateContactDialog [contact]="selectedContact"></app-update-contact>

<p-table [value]="contacts" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]" [columns]="columns" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button pButton pRipple icon="pi pi-plus" class="p-button-info" (click)="openAddContactDialog()">
                Add Contact
            </button>
        </div>
    </ng-template>

    <ng-template #header let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
            <th>
                Actions
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
        <tr>
            <td style="display: none;">{{rowData["id"]}}</td>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info button-with-margin" (click)="openUpdateContactDialog(rowData)">
                </button>
                <button id="delete-contact-btn" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteContact(rowData)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
